<header>
    <div>
        <%= link_to image_tag('back.png'), groups_path, id: "back-icon" %>
    </div>
    <div>
        Transactions
    </div>
    <div>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
</header>

<div>
    <%= image_tag url_for(@group.icon), alt: "group icon" %>
    <div>
        <h2> <%= @group.name %> </h2>
        <% if @group.entities.present? %>
            $ <%= @group.entities.sum { |entity| entity[:amount] } %>
        <% else %>
            $ 0
        <% end %>
    </div>
</div>

<% @entities.each do | entity | %>
    <div class="entity-card" >
        <h2> <%= entity.name %> </h2>
        <h3> Amount: <%= entity.amount %> </h3>
        <h3> <%= entity.created_at %> </h3>
    </div>
<% end %>

<footer>
    <%= link_to "add a new transaction", new_group_entity_path(group_id: @group.id) %>  
</footer>