<header>
    <div>
        <% if request.path == root_path %>
            <%= image_tag('menu.png') %>
        <% else %>
            <%= link_to image_tag('back.png'), root_path, id: "back-icon" %>
        <% end %>
    </div>
    <div>
        GROUPS
    </div>
    <div>
        <% if user_signed_in? %>
            Logout
        <% else %>
            Login
        <% end %>
    </div>
</header>

<div class="group-card" >
    <%= image_tag url_for(@group.icon), alt: "group icon" %>
    <div>
        <h2> <%= @group.name %> </h2>
        <% if @group.entities.present? %>
            $ <%= @group.entities.sum { |entity| entity[:amount] } %>
        <% else %>
            $ 0
        <% end %>
    </div>
</div>

<% @group.entities.each do | entity | %>
    <div class="entity-card" >
        <h2> <%= entity.name %> </h2>
        <h3> Amount: <%= entity.amount %> </h3>
        <h3> <%= entity.created_at %> </h3>
    </div>
<% end %>

<%= form_for(Entity.new, url: group_entities_path(group_id: @group.id)) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit "Create Entity" %>
  </div>
<% end %>

<footer>
    <button>
        Add Entity
    </button>
</footer>