<!DOCTYPE html>
<html>
  <head>
    <title>RailsCapston</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice" style="position: absolute; margin-left: 100px; color: white; " ><%= notice %></p>
    <p class="alert" style="position: absolute; margin-left: 100px; color: white;" ><%= alert %></p>
    <%= yield %>
  </body>
</html>
